<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Escalavel</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css' )}}>
</head>

<body>
    <div class="container">
        <p>
            <center><b>Voce não esta logado!</b></center>
        </p>
        <br>
        <button>
            <a href="login">fazer login</a>
        </button>


    </div>
</body>

</html>