<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Escalavel</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css' )}}>
</head>
<body>
    <div class="container">
        <h1>Digite aqui seu Login!</h1>
        
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-{{ category }}">{{ message }}</div><br>  <!-- Exibe a mensagem sem lista -->
            {% endfor %}
        {% endif %}
    {% endwith %}

        <br><form action="{{ url_for('blueprint_cool.login') }}" method="post">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
