<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Escalavel</title>
    <link rel="stylesheet" href={{url_for('static', filename='styles.css' )}}>
</head>

<body>
    <div class="container">
        <h1>Digite aqui seu Login!</h1>
        <form action="/" method="post">
            <label for="Login">Login:</label>
            <input type="text" id="login" name="login">

            <label for="Senha">Senha:</label>
            <input type="password" id="senha" name="senha">

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>